{{#if isShowingModal}}
  {{#adde-modal
    onClose='hideModal'
    headerText='Test header'
    clickOutsideToClose=false
  }}
    This is a sample modal!
  {{/adde-modal}}
{{/if}}

<button {{action 'showModal'}}>
  Show modal
</button>
