{{#if isShowingModal}}
  {{#adde-modal
    close='hideModal'
    confirm='hideModal'
    headerText='Test header'
  }}
    This is a sample modal!
  {{/adde-modal}}
{{/if}}

<button {{action 'showModal'}}>
  Show modal
</button>
