{{#if isShowingModal}}
  {{#adde-modal
    headerText='Test'
    size='large'
    onClose='hideModal'
  }}
    TEST
  {{/adde-modal}}
{{/if}}

Using built in stuff:
<button {{action 'showModal'}}>
  Show modal
</button>


{{#if isShowingOtherModal}}
  {{#adde-modal-container}}
    {{#adde-modal-header}}
      WHAT IS UP
    {{/adde-modal-header}}
    {{#adde-modal-body}}
      THIS IS BODY
    {{/adde-modal-body}}
    {{adde-modal-footer}}
  {{/adde-modal-container}}
{{/if}}

Compose our own custom modal:
<button {{action 'showOtherModal'}}>
  Show custom modal
</button>
